extends ../templates/layout

block content
    div.container.my-3
        h1 #{title}
        p
            b ID :
            |  #{refArchitectureCPU._id}
        p
            b Name :
            |  #{refArchitectureCPU.name}
        p
            b Nb. Threads :
            |  #{ressources.length}
        .d-flex.align-items-center
            a.btn.btn-secondary.mx-1(href='/refArchitectureCPU/') Back to List
            a.btn.btn-info.mx-1(href='/refArchitectureCPU/' + refArchitectureCPU._id + '/update') Edit
            form.mx-1
                input(type='hidden' name='_id' value=refArchitectureCPU._id)
                input.btn.btn-danger(type='submit' value='Delete' formaction='/refArchitectureCPU/' + refArchitectureCPU._id + '/delete' formmethod='post')
    if ressources.length !== 0
        div.container.my-3
            h2 Ressources associées :
            table.table.table-striped.table-hover
                thead.thead-dark
                    tr
                        th ID
                        th Name
                tbody
                    for ressource in ressources
                        tr
                            td #{ressource._id}
                            td
                                a(href="/../ressource/" + ressource._id+'/read') #{ressource.name}